apiVersion: apps/v1
kind: Deployment
metadata:
  name: shipping
  namespace: roboshop
  labels:
    component: shipping
    project: roboshop
    tier: app
spec:
  replicas: 1
  selector:
    matchLabels:
      component: shipping
      project: roboshop
      tier: app
  template:
    metadata:
      labels:
        component: shipping
        project: roboshop
        tier: app
    spec:
      containers:
      - name: shipping
        image: "{{ .Values.deployment.imageurl }}:{{ .Values.deployment.imageversion }}"
        # command: ["sh", "-c", "echo 'failure' && exit 1"]
        resources:
          requests:
            cpu: "300m"
            memory: "512Mi"
          limits:
            cpu: "500m"
            memory: "1024Mi"
        envFrom:
        - configMapRef:
            name: shipping
